<h2>The grid will go here</h2>
<div class="grid">
  <div class="grid__item profile">{{ .Site.Params.profile }}</div>
  <div class="grid__item bio">{{ .Site.Params.bio }}</div>
  <div class="grid__item social">{{ .Site.Params.social }}</div>
  <div class="grid__item tech">{{ .Site.Params.tech }}</div>
  <div class="grid__item grid__item--opacity">Grid 5</div>
  <div class="grid__item grid__item--opacity">Grid 6</div>
  <div class="grid__item grid__item--opacity">Grid 7</div>
  <div class="grid__item grid__item--opacity">Grid 8</div>
</div>